div.container {
    max-width: 440px;
    margin-top:50px;
}

p.recent-value {
    height:70px;
    text-align: center;
    font-size: 44px;
}

p.validation-error {
    height:30px;
    text-align: center;
    color:red;
}

i.fa-times {
    cursor:pointer;
}

.submit-btn:hover {
    background-color: #58b67f;
    border:#58b67f;
}



