  <div class="container">
    <p class="recent-value">{{ recent }}</p>
    <p class="validation-error">{{ validationMessage }}</p>
    <form>
      <input type="text" name="value" [(ngModel)]="value" />
      <button [disabled]="submitting" class="submit-btn" (click)="reverseString()">
        {{ submitting ? 'Reversing...' : 'Reverse'}}
      </button>
    </form>
    <div class="m-3">
      <span class="chip" *ngFor="let item of values">{{ item.value }}
        <i class="fa fa-times" (click)="removeItem(item.id)"></i>
      </span>
    </div>
  </div>
